body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image:url(Inages/technology-hologram-indoors.jpg);
    background-size: cover;
    background-position: center;

}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 43px;
    color: #333;
   
}
form{
    max-width: 400px;
    margin: 50px auto;
    padding: 100px;
    background: #fff;
    border-radius: 20px;
    
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}
input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;

    background-color: #ed0e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:  green;
    transition: background-color 0.5s ease;
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: blue;
    margin-left: 130px;
}
a:hover{
border-radius: 3px;
box-sizing: border-box;

}
p{
    text-align: center;
    font-size: 16px;
    color: #333;
}
